*{
    margin: auto;
    padding: 0%;
}
.container{
    font-family: 'Poppins', sans-serif;
    width: 1200px;
}
/* top banner section */
.top-banner{
    background-image: url(images/donation8.jpg);
    width: 1200px;
    height: 500px;
    text-align: center;
    color: white;
    margin: auto;
    display: block;
}
.top-banner h1{
    font-size: 50px;
    padding-top: 100px;
}
.top-banner p{
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fdfafa;
}
.top-banner a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
/* donate today section */
.donate-today{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.donate-today h1{
    font-size: 40px;
}
.donate-today p{
    color: #939393;
}
.box{
    display: flex;
    margin-bottom: 40px;
    row-gap: 22px;
}
.box1{
    width: 100px;
    height: 80px;
    background-color: #f8f2f2;
    border-radius: 5px;
    color: #818181;
}
.box2{
    width: 100px;
    height: 80px;
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}
.box3{
    width: 100px;
    height: 80px;
    background-color: #f8f2f2;
    border-radius: 5px;
    color: #818181;
}
.box4{
    width: 100px;
    height: 80px;
    background-color: #f8f2f2;
    border-radius: 5px;
    color: #818181;
}
.box5{
    width: 100px;
    height: 80px;
    background-color: #f8f2f2;
    border-radius: 5px;
    color: #818181;
}
.amount{
    color: #C1C1C1;
    text-align: center;
}
.amount p{
    margin-bottom: 7px;
}
hr{
    width: 1000px;
    margin-bottom: 35px;
}
.amount a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
}
